.main-section{
    display: grid;
      height: 100%;
      width: 100%;
      grid-template-columns: auto 1fr;
  }
  .side-content{
    height: 100%;
    display: grid;
    width: 100%;
    grid-template-rows: 108px 1fr;
  }